package pages

import "github.com/maximekuhn/warden/internal/auth"

templ Index(loggedUser auth.User) {
	@Page(indexBody(loggedUser))
}

templ indexBody(loggedUser auth.User) {
	<h1 class="3xl text-lime-400 bg-primary">
		Hello, { loggedUser.Email.Value() }!
	</h1>
	<button hx-post="/logout">
		Logout
	</button>
}
