package pages

import "github.com/maximekuhn/warden/internal/auth"

templ Index(loggedUser auth.User) {
	@PageWithNavbar(loggedUser, indexBody())
}

templ indexBody() {
	<div class="flex justify-center items-center h-max">
		<img src="/assets/images/sad_warden.png" alt="Sad Warden"/>
		<p class="text-4xl">You don't have access to any Minecraft server :-(</p>
	</div>
}
