package pages

import "github.com/maximekuhn/warden/internal/ui/components/forms"

templ Login() {
	@Page(loginBody())
}

templ loginBody() {
	<div>
		<h1>
			Login	
		</h1>
		@forms.LoginForm()
	</div>
}
