package pages

import "github.com/maximekuhn/warden/internal/ui/components/forms"

templ Login() {
	@Page(loginBody())
}

templ loginBody() {
	<div class="w-scren min-h-screen bg-[url(/assets/images/background.jpeg)] bg-cover bg-center">
		<h1>
			Login	
		</h1>
		<div class="flex h-screen items-center justify-center">
			@forms.LoginForm()
		</div>
	</div>
}
