package pages

import "github.com/maximekuhn/warden/internal/ui/components/forms"

templ Signup() {
	@Page(signupBody())
}

templ signupBody() {
	<div>
		<h1>
			Sign up
		</h1>
		@forms.SignupForm()
	</div>
}
